<div class="modal-header">
  <h3 class="modal-title">New Book</h3>
</div>
<div class="modal-body">

    <p>Title  :   <input ng-model="book.title" type="text"></input></p>
    <p>Writers :   <input ng-model="book.writers" type="text"></input></p>
    <p>Description: <input ng-model="book.description" type="text"></input></p>
    <p>Price  :    <input  ng-model="book.price" type="Number"></input></p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="addBook(book)">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>